<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于区分不同的xxxMapper.xml文件-->
<mapper namespace="baoming">
    <!-- resultType：指定查询返回的结果集的类型,如果是集合，则必须是泛型的类型 -->
    <!-- parameterType：如果有参数，则通过它来指定参数的类型 -->

    <!-- 无参数查询全部 -->
    <select id="getAll" resultType="student">
        select id, name, email, age from student
    </select>

    <!-- 单个参数查询 -->
    <select id="getById" parameterType="int" resultType="student">
        select id, name, email, age from student where id = #{id}
    </select>

    <!-- 模糊查询 -->
    <select id="getByLikeName" parameterType="string" resultType="student">
        select id, name, email, age from student where name like '%${likeName}%'
    </select>

    <!-- 插入数据 (增删改不用resultType返回值，框架底层自动判断处理) -->
    <insert id="addStudent" parameterType="student">
        insert into Student(name, email, age) values(#{name},#{email},#{age})
    </insert>

    <!-- 单个参数删除  -->
    <delete id="deleteById" parameterType="int">
        delete from Student where id = #{id}
    </delete>

    <!-- 更新数据  -->
    <delete id="updateStudent" parameterType="student">
        update Student set name = #{name},email = #{email},age = #{age} where id = #{id}
    </delete>

</mapper>